<div>
  <div>
    <%= image_tag("icon_photo_small.png", alt: "photo") %>
  </div>
  <div>
    <%= link_to comment.user.full_name, user_path(comment.user.id) %>
    <h3>Posted on </h3><%= comment.created_at %>
  </div>
  <div>
    <%= comment.content %>
  </div>
  <div>
    <%= like_display(comment).html_safe %>
    <%= like_or_unlike_link(comment) %>
    <%= commnet_owner_link_option(comment) %>
  </div>
</div>
