<div class="container">
  <%= render partial: "shared/nav", locals: {user: @user} %>
</div>
<main>
  <section> <!--About-->
    <div>
      <h2><strong>About</strong></h2>
    </div>
    <div>
      <p>
        <strong>Born on: </strong> <%= @user.dob %>
      </p>
      <p>
        <strong>Went to school at: </strong> <%= @user.college %>
      </p>
      <p>
        <strong>Hometown: </strong> <%= @user.hometown %>
      </p>
      <p>
        <strong>Currently Lives: </strong> <%=@user.currently_lives %>
      </p>
    </div>
  </section>
  <section> <!-- Photos -->
    <div>
      <h2><strong>Photos (123)</strong></h2>
    </div>
    <table>
      <tr>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo ") %>
          </div>
        </td>
      </tr>
    </table>
    <%= link_to "See More Photos", "#" %>
  </section>
  <section> <!-- Friends -->
    <div>
      <h2><strong>Friends (524)</strong></h2>
    </div>
    <table>
      <tr>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo of friend") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo of friend") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo of friend") %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo of friend") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo of friend") %>
          </div>
        </td>
        <td>
          <div>
            <%= image_tag("icon_photo_small.png", alt: "photo of friend") %>
          </div>
        </td>
      </tr>
    </table>
    <%= link_to "See More Friends", "#" %>
  </section>
</main>
