<div class="jumbotron"><!--Main photos -->
  <div class="container" id="profile">
    <img src="assets/harry_potter_small.jpg">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
</div><!-- jumbotron -->

<nav class="navbar navbar-nav"><!-- Middle Nav Links -->
  <div class="middle-nav">
    <ul>
      <li><%= link_to "Timeline", user_posts_path(params[:user_id]) %></li>
      <li><%= link_to "About", user_profile_path(params[:user_id]) %></li>
      <li><%= link_to "Photos (123)", '#' %></li>
      <li><%= link_to ("Friends " + friend_num).html_safe, friendings_path(user_id: params[:user_id]) %></li>
    </ul>
    <%= edit_or_friend_link %>
  </div>
</nav><!-- close middle nav -->
