<main><!--About information -->
  <div class="about-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <table id="basic_information">
            <tr>
              <th colspan="2">About</th>
            </tr>
            <tr>
              <td>Born on:</td>
              <td><%= profile.dob_day %>/<%= profile.dob_month %>/<%=profile.dob_year%></td>
            </tr>
            <tr>
              <td>Went to schoool at:</td>
              <td><%= profile.college %></td>
            </tr>
            <tr>
              <td>Hometown:</td>
              <td><%= profile.hometown %></td>
            </tr>
            <tr>
              <td>Currently Lives:</td>
              <td><%= profile.location %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
